In [1]:
# FOR HDI: http://ec2-54-174-131-205.compute-1.amazonaws.com/API/Information.php
# Human development classification
# HDI classifications are based on HDI fixed cutoff points, which are derived from the quartiles of dis
# tributions of the component indicators. The cutoffpoints are HDI of less than 0.550 for low human development,
#  0.550–0.699 for medium human development, 0.700–0.799 for high human development and 0.800 or greater 
#  for very high human development.
# Codes:
# 44206 - Total Population (millions)
# 137506 Human Development Index (HDI)

In [2]:
import json
from turtle import back
import requests

In [3]:
url_HDRO = "http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id=137506,44206/year=2019"
url_USGS = "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson"

response_HDRO = requests.get(url_HDRO)
print(f"HDRO: {response_HDRO}")
response_USGS = requests.get(url_USGS)
print(f"USGS: {response_USGS}")

HDRO: <Response [200]>
USGS: <Response [200]>

In [4]:
data_HDRO = response_HDRO.json()
# print(json.dumps(data_HDRO, indent=4, sort_keys=True))
data_USGS = response_USGS.json()

In [5]:
import pandas as pd

countryCodes_df = pd.read_csv("../../data/all.csv")

In [6]:
# countryCodes_df
clean_cc_df = countryCodes_df.copy()[["name", "alpha-2", "alpha-3"]]
clean_cc_df['alpha-2'][153] = 'NA'
clean_cc_df['alpha-2'][153]

'NA'

In [7]:
clean_cc_df.to_csv("clean_cc_df.csv")

In [8]:
df_HDRO = pd.read_json(url_HDRO)
df_HDRO = df_HDRO.reset_index()
df_HDRO

,index,indicator_value,country_name,indicator_name
0,AFG,"{'44206': {'2019': 38.042}, '137506': {'2019':...",Afghanistan,NaN
1,AGO,"{'44206': {'2019': 31.825}, '137506': {'2019':...",Angola,NaN
2,ALB,"{'44206': {'2019': 2.8810000000000002}, '13750...",Albania,NaN
3,AND,"{'44206': {'2019': 0.077}, '137506': {'2019': ...",Andorra,NaN
4,ARE,"{'44206': {'2019': 9.771}, '137506': {'2019': ...",United Arab Emirates,NaN
...,...,...,...,...
192,ZAF,"{'44206': {'2019': 58.558}, '137506': {'2019':...",South Africa,NaN
193,ZMB,"{'44206': {'2019': 17.861}, '137506': {'2019':...",Zambia,NaN
194,ZWE,"{'44206': {'2019': 14.645}, '137506': {'2019':...",Zimbabwe,NaN
195,44206,NaN,NaN,Total population (millions)
196,137506,NaN,NaN,Human Development Index (HDI)

In [9]:
clean_HDRO_df = pd.DataFrame(columns=['CountryName', 'CountryCode', 'HDI', "TotalPopulation"]) 
# clean_HDRO_df
i=1
for index, country in df_HDRO.iterrows():
    try:
        value_totalPopulation = float(country["indicator_value"]['44206']['2019'])
        value_HDI = float(country["indicator_value"]['137506']['2019'])
        clean_HDRO_df = clean_HDRO_df.append([{"CountryName": country["country_name"], "CountryCode": country["index"], "HDI": value_HDI, "TotalPopulation": value_totalPopulation}], ignore_index=True)
    except:
        print(country["index"], country["indicator_value"])

clean_HDRO_df

MCO {'44206': {'2019': 0.039}}
NRU {'44206': {'2019': 0.011}}
PRK {'44206': {'2019': 25.666}}
SMR {'44206': {'2019': 0.034}}
SOM {'44206': {'2019': 15.443}}
TUV {'44206': {'2019': 0.012}}
44206 nan
137506 nan

              CountryName CountryCode    HDI  TotalPopulation
0             Afghanistan         AFG  0.511           38.042
1                  Angola         AGO  0.581           31.825
2                 Albania         ALB  0.795            2.881
3                 Andorra         AND  0.868            0.077
4    United Arab Emirates         ARE  0.890            9.771
..                    ...         ...    ...              ...
184                 Samoa         WSM  0.715            0.197
185                 Yemen         YEM  0.470           29.162
186          South Africa         ZAF  0.709           58.558
187                Zambia         ZMB  0.584           17.861
188              Zimbabwe         ZWE  0.571           14.645

[189 rows x 4 columns]

In [10]:
clean_HDRO_df.to_csv("clean_HDRO_df.csv")

In [11]:
clean_HDRO_df = clean_HDRO_df.merge(clean_cc_df, left_on="CountryCode", right_on="alpha-3", how="inner")
clean_HDRO_df =clean_HDRO_df.drop(["CountryCode"], axis=1)

In [12]:
clean_HDRO_df

,CountryName,HDI,TotalPopulation,name,alpha-2,alpha-3
0,Afghanistan,0.511,38.042,Afghanistan,AF,AFG
1,Angola,0.581,31.825,Angola,AO,AGO
2,Albania,0.795,2.881,Albania,AL,ALB
3,Andorra,0.868,0.077,Andorra,AD,AND
4,United Arab Emirates,0.890,9.771,United Arab Emirates,AE,ARE
...,...,...,...,...,...,...
184,Samoa,0.715,0.197,Samoa,WS,WSM
185,Yemen,0.470,29.162,Yemen,YE,YEM
186,South Africa,0.709,58.558,South Africa,ZA,ZAF
187,Zambia,0.584,17.861,Zambia,ZM,ZMB
188,Zimbabwe,0.571,14.645,Zimbabwe,ZW,ZWE

In [13]:
clean_HDRO_df.to_csv("clean_HDRO_df_MERGED.csv")

In [14]:
for index, row in clean_HDRO_df.iterrows():
    print(row)

CountryName        Afghanistan
HDI                      0.511
TotalPopulation         38.042
name               Afghanistan
alpha-2                     AF
alpha-3                    AFG
Name: 0, dtype: object
CountryName        Angola
HDI                 0.581
TotalPopulation    31.825
name               Angola
alpha-2                AO
alpha-3               AGO
Name: 1, dtype: object
CountryName        Albania
HDI                  0.795
TotalPopulation      2.881
name               Albania
alpha-2                 AL
alpha-3                ALB
Name: 2, dtype: object
CountryName        Andorra
HDI                  0.868
TotalPopulation      0.077
name               Andorra
alpha-2                 AD
alpha-3                AND
Name: 3, dtype: object
CountryName        United Arab Emirates
HDI                                0.89
TotalPopulation                   9.771
name               United Arab Emirates
alpha-2                              AE
alpha-3                             ARE
Name: 4, dtype: object
CountryName        Argentina
HDI                    0.845
TotalPopulation       44.781
name               Argentina
alpha-2                   AR
alpha-3                  ARG
Name: 5, dtype: object
CountryName        Armenia
HDI                  0.776
TotalPopulation      2.958
name               Armenia
alpha-2                 AM
alpha-3                ARM
Name: 6, dtype: object
CountryName        Antigua and Barbuda
HDI                              0.778
TotalPopulation                  0.097
name               Antigua and Barbuda
alpha-2                             AG
alpha-3                            ATG
Name: 7, dtype: object
CountryName        Australia
HDI                    0.944
TotalPopulation       25.203
name               Australia
alpha-2                   AU
alpha-3                  AUS
Name: 8, dtype: object
CountryName        Austria
HDI                  0.922
TotalPopulation      8.955
name               Austria
alpha-2                 AT
alpha-3                AUT
Name: 9, dtype: object
CountryName        Azerbaijan
HDI                     0.756
TotalPopulation        10.048
name               Azerbaijan
alpha-2                    AZ
alpha-3                   AZE
Name: 10, dtype: object
CountryName        Burundi
HDI                  0.433
TotalPopulation     11.531
name               Burundi
alpha-2                 BI
alpha-3                BDI
Name: 11, dtype: object
CountryName        Belgium
HDI                  0.931
TotalPopulation     11.539
name               Belgium
alpha-2                 BE
alpha-3                BEL
Name: 12, dtype: object
CountryName         Benin
HDI                 0.545
TotalPopulation    11.801
name                Benin
alpha-2                BJ
alpha-3               BEN
Name: 13, dtype: object
CountryName        Burkina Faso
HDI                       0.452
TotalPopulation          20.321
name               Burkina Faso
alpha-2                      BF
alpha-3                     BFA
Name: 14, dtype: object
CountryName        Bangladesh
HDI                     0.632
TotalPopulation       163.046
name               Bangladesh
alpha-2                    BD
alpha-3                   BGD
Name: 15, dtype: object
CountryName        Bulgaria
HDI                   0.816
TotalPopulation         7.0
name               Bulgaria
alpha-2                  BG
alpha-3                 BGR
Name: 16, dtype: object
CountryName        Bahrain
HDI                  0.852
TotalPopulation      1.641
name               Bahrain
alpha-2                 BH
alpha-3                BHR
Name: 17, dtype: object
CountryName        Bahamas
HDI                  0.814
TotalPopulation      0.389
name               Bahamas
alpha-2                 BS
alpha-3                BHS
Name: 18, dtype: object
CountryName        Bosnia and Herzegovina
HDI                                  0.78
TotalPopulation                     3.301
name               Bosnia and Herzegovina
alpha-2                                BA
alpha-3                               BIH
Name: 19, dtype: object
CountryName        Belarus
HDI                  0.823
TotalPopulation      9.452
name               Belarus
alpha-2                 BY
alpha-3                BLR
Name: 20, dtype: object
CountryName        Belize
HDI                 0.716
TotalPopulation      0.39
name               Belize
alpha-2                BZ
alpha-3               BLZ
Name: 21, dtype: object
CountryName        Bolivia (Plurinational State of)
HDI                                           0.718
TotalPopulation                              11.513
name               Bolivia (Plurinational State of)
alpha-2                                          BO
alpha-3                                         BOL
Name: 22, dtype: object
CountryName        Brazil
HDI                 0.765
TotalPopulation    211.05
name               Brazil
alpha-2                BR
alpha-3               BRA
Name: 23, dtype: object
CountryName        Barbados
HDI                   0.814
TotalPopulation       0.287
name               Barbados
alpha-2                  BB
alpha-3                 BRB
Name: 24, dtype: object
CountryName        Brunei Darussalam
HDI                            0.838
TotalPopulation                0.433
name               Brunei Darussalam
alpha-2                           BN
alpha-3                          BRN
Name: 25, dtype: object
CountryName        Bhutan
HDI                 0.654
TotalPopulation     0.763
name               Bhutan
alpha-2                BT
alpha-3               BTN
Name: 26, dtype: object
CountryName        Botswana
HDI                   0.735
TotalPopulation       2.304
name               Botswana
alpha-2                  BW
alpha-3                 BWA
Name: 27, dtype: object
CountryName        Central African Republic
HDI                                   0.397
TotalPopulation                       4.745
name               Central African Republic
alpha-2                                  CF
alpha-3                                 CAF
Name: 28, dtype: object
CountryName        Canada
HDI                 0.929
TotalPopulation    37.411
name               Canada
alpha-2                CA
alpha-3               CAN
Name: 29, dtype: object
CountryName        Switzerland
HDI                      0.955
TotalPopulation          8.591
name               Switzerland
alpha-2                     CH
alpha-3                    CHE
Name: 30, dtype: object
CountryName         Chile
HDI                 0.851
TotalPopulation    18.952
name                Chile
alpha-2                CL
alpha-3               CHL
Name: 31, dtype: object
CountryName           China
HDI                   0.761
TotalPopulation    1433.784
name                  China
alpha-2                  CN
alpha-3                 CHN
Name: 32, dtype: object
CountryName        Cote d'Ivoire
HDI                        0.538
TotalPopulation           25.717
name               Côte d'Ivoire
alpha-2                       CI
alpha-3                      CIV
Name: 33, dtype: object
CountryName        Cameroon
HDI                   0.563
TotalPopulation      25.876
name               Cameroon
alpha-2                  CM
alpha-3                 CMR
Name: 34, dtype: object
CountryName        Congo (Democratic Republic of the)
HDI                                              0.48
TotalPopulation                                86.791
name                Congo, Democratic Republic of the
alpha-2                                            CD
alpha-3                                           COD
Name: 35, dtype: object
CountryName        Congo
HDI                0.574
TotalPopulation    5.381
name               Congo
alpha-2               CG
alpha-3              COG
Name: 36, dtype: object
CountryName        Colombia
HDI                   0.767
TotalPopulation      50.339
name               Colombia
alpha-2                  CO
alpha-3                 COL
Name: 37, dtype: object
CountryName        Comoros
HDI                  0.554
TotalPopulation      0.851
name               Comoros
alpha-2                 KM
alpha-3                COM
Name: 38, dtype: object
CountryName        Cabo Verde
HDI                     0.665
TotalPopulation          0.55
name               Cabo Verde
alpha-2                    CV
alpha-3                   CPV
Name: 39, dtype: object
CountryName        Costa Rica
HDI                      0.81
TotalPopulation         5.048
name               Costa Rica
alpha-2                    CR
alpha-3                   CRI
Name: 40, dtype: object
CountryName          Cuba
HDI                 0.783
TotalPopulation    11.333
name                 Cuba
alpha-2                CU
alpha-3               CUB
Name: 41, dtype: object
CountryName        Cyprus
HDI                 0.887
TotalPopulation     1.199
name               Cyprus
alpha-2                CY
alpha-3               CYP
Name: 42, dtype: object
CountryName        Czechia
HDI                    0.9
TotalPopulation     10.689
name               Czechia
alpha-2                 CZ
alpha-3                CZE
Name: 43, dtype: object
CountryName        Germany
HDI                  0.947
TotalPopulation     83.517
name               Germany
alpha-2                 DE
alpha-3                DEU
Name: 44, dtype: object
CountryName        Djibouti
HDI                   0.524
TotalPopulation       0.974
name               Djibouti
alpha-2                  DJ
alpha-3                 DJI
Name: 45, dtype: object
CountryName        Dominica
HDI                   0.742
TotalPopulation       0.072
name               Dominica
alpha-2                  DM
alpha-3                 DMA
Name: 46, dtype: object
CountryName        Denmark
HDI                   0.94
TotalPopulation      5.772
name               Denmark
alpha-2                 DK
alpha-3                DNK
Name: 47, dtype: object
CountryName        Dominican Republic
HDI                             0.756
TotalPopulation                10.739
name               Dominican Republic
alpha-2                            DO
alpha-3                           DOM
Name: 48, dtype: object
CountryName        Algeria
HDI                  0.748
TotalPopulation     43.053
name               Algeria
alpha-2                 DZ
alpha-3                DZA
Name: 49, dtype: object
CountryName        Ecuador
HDI                  0.759
TotalPopulation     17.374
name               Ecuador
alpha-2                 EC
alpha-3                ECU
Name: 50, dtype: object
CountryName          Egypt
HDI                  0.707
TotalPopulation    100.388
name                 Egypt
alpha-2                 EG
alpha-3                EGY
Name: 51, dtype: object
CountryName        Eritrea
HDI                  0.459
TotalPopulation      3.497
name               Eritrea
alpha-2                 ER
alpha-3                ERI
Name: 52, dtype: object
CountryName         Spain
HDI                 0.904
TotalPopulation    46.737
name                Spain
alpha-2                ES
alpha-3               ESP
Name: 53, dtype: object
CountryName        Estonia
HDI                  0.892
TotalPopulation      1.326
name               Estonia
alpha-2                 EE
alpha-3                EST
Name: 54, dtype: object
CountryName        Ethiopia
HDI                   0.485
TotalPopulation     112.079
name               Ethiopia
alpha-2                  ET
alpha-3                 ETH
Name: 55, dtype: object
CountryName        Finland
HDI                  0.938
TotalPopulation      5.532
name               Finland
alpha-2                 FI
alpha-3                FIN
Name: 56, dtype: object
CountryName         Fiji
HDI                0.743
TotalPopulation     0.89
name                Fiji
alpha-2               FJ
alpha-3              FJI
Name: 57, dtype: object
CountryName        France
HDI                 0.901
TotalPopulation     65.13
name               France
alpha-2                FR
alpha-3               FRA
Name: 58, dtype: object
CountryName        Micronesia (Federated States of)
HDI                                            0.62
TotalPopulation                               0.114
name               Micronesia (Federated States of)
alpha-2                                          FM
alpha-3                                         FSM
Name: 59, dtype: object
CountryName        Gabon
HDI                0.703
TotalPopulation    2.173
name               Gabon
alpha-2               GA
alpha-3              GAB
Name: 60, dtype: object
CountryName                                           United Kingdom
HDI                                                            0.932
TotalPopulation                                                67.53
name               United Kingdom of Great Britain and Northern I...
alpha-2                                                           GB
alpha-3                                                          GBR
Name: 61, dtype: object
CountryName        Georgia
HDI                  0.812
TotalPopulation      3.997
name               Georgia
alpha-2                 GE
alpha-3                GEO
Name: 62, dtype: object
CountryName         Ghana
HDI                 0.611
TotalPopulation    30.418
name                Ghana
alpha-2                GH
alpha-3               GHA
Name: 63, dtype: object
CountryName        Guinea
HDI                 0.477
TotalPopulation    12.771
name               Guinea
alpha-2                GN
alpha-3               GIN
Name: 64, dtype: object
CountryName        Gambia
HDI                 0.496
TotalPopulation     2.348
name               Gambia
alpha-2                GM
alpha-3               GMB
Name: 65, dtype: object
CountryName        Guinea-Bissau
HDI                         0.48
TotalPopulation            1.921
name               Guinea-Bissau
alpha-2                       GW
alpha-3                      GNB
Name: 66, dtype: object
CountryName        Equatorial Guinea
HDI                            0.592
TotalPopulation                1.356
name               Equatorial Guinea
alpha-2                           GQ
alpha-3                          GNQ
Name: 67, dtype: object
CountryName        Greece
HDI                 0.888
TotalPopulation    10.473
name               Greece
alpha-2                GR
alpha-3               GRC
Name: 68, dtype: object
CountryName        Grenada
HDI                  0.779
TotalPopulation      0.112
name               Grenada
alpha-2                 GD
alpha-3                GRD
Name: 69, dtype: object
CountryName        Guatemala
HDI                    0.663
TotalPopulation       17.581
name               Guatemala
alpha-2                   GT
alpha-3                  GTM
Name: 70, dtype: object
CountryName        Guyana
HDI                 0.682
TotalPopulation     0.783
name               Guyana
alpha-2                GY
alpha-3               GUY
Name: 71, dtype: object
CountryName        Hong Kong, China (SAR)
HDI                                 0.949
TotalPopulation                     7.436
name                            Hong Kong
alpha-2                                HK
alpha-3                               HKG
Name: 72, dtype: object
CountryName        Honduras
HDI                   0.634
TotalPopulation       9.746
name               Honduras
alpha-2                  HN
alpha-3                 HND
Name: 73, dtype: object
CountryName        Croatia
HDI                  0.851
TotalPopulation       4.13
name               Croatia
alpha-2                 HR
alpha-3                HRV
Name: 74, dtype: object
CountryName         Haiti
HDI                  0.51
TotalPopulation    11.263
name                Haiti
alpha-2                HT
alpha-3               HTI
Name: 75, dtype: object
CountryName        Hungary
HDI                  0.854
TotalPopulation      9.685
name               Hungary
alpha-2                 HU
alpha-3                HUN
Name: 76, dtype: object
CountryName        Indonesia
HDI                    0.718
TotalPopulation      270.626
name               Indonesia
alpha-2                   ID
alpha-3                  IDN
Name: 77, dtype: object
CountryName           India
HDI                   0.645
TotalPopulation    1366.418
name                  India
alpha-2                  IN
alpha-3                 IND
Name: 78, dtype: object
CountryName        Ireland
HDI                  0.955
TotalPopulation      4.882
name               Ireland
alpha-2                 IE
alpha-3                IRL
Name: 79, dtype: object
CountryName        Iran (Islamic Republic of)
HDI                                     0.783
TotalPopulation                        82.914
name               Iran (Islamic Republic of)
alpha-2                                    IR
alpha-3                                   IRN
Name: 80, dtype: object
CountryName         Iraq
HDI                0.674
TotalPopulation    39.31
name                Iraq
alpha-2               IQ
alpha-3              IRQ
Name: 81, dtype: object
CountryName        Iceland
HDI                  0.949
TotalPopulation      0.339
name               Iceland
alpha-2                 IS
alpha-3                ISL
Name: 82, dtype: object
CountryName        Israel
HDI                 0.919
TotalPopulation     8.519
name               Israel
alpha-2                IL
alpha-3               ISR
Name: 83, dtype: object
CountryName        Italy
HDI                0.892
TotalPopulation    60.55
name               Italy
alpha-2               IT
alpha-3              ITA
Name: 84, dtype: object
CountryName        Jamaica
HDI                  0.734
TotalPopulation      2.948
name               Jamaica
alpha-2                 JM
alpha-3                JAM
Name: 85, dtype: object
CountryName        Jordan
HDI                 0.729
TotalPopulation    10.102
name               Jordan
alpha-2                JO
alpha-3               JOR
Name: 86, dtype: object
CountryName         Japan
HDI                 0.919
TotalPopulation    126.86
name                Japan
alpha-2                JP
alpha-3               JPN
Name: 87, dtype: object
CountryName        Kazakhstan
HDI                     0.825
TotalPopulation        18.551
name               Kazakhstan
alpha-2                    KZ
alpha-3                   KAZ
Name: 88, dtype: object
CountryName         Kenya
HDI                 0.601
TotalPopulation    52.574
name                Kenya
alpha-2                KE
alpha-3               KEN
Name: 89, dtype: object
CountryName        Kyrgyzstan
HDI                     0.697
TotalPopulation         6.416
name               Kyrgyzstan
alpha-2                    KG
alpha-3                   KGZ
Name: 90, dtype: object
CountryName        Cambodia
HDI                   0.594
TotalPopulation      16.487
name               Cambodia
alpha-2                  KH
alpha-3                 KHM
Name: 91, dtype: object
CountryName        Kiribati
HDI                    0.63
TotalPopulation       0.118
name               Kiribati
alpha-2                  KI
alpha-3                 KIR
Name: 92, dtype: object
CountryName        Saint Kitts and Nevis
HDI                                0.779
TotalPopulation                    0.053
name               Saint Kitts and Nevis
alpha-2                               KN
alpha-3                              KNA
Name: 93, dtype: object
CountryName        Korea (Republic of)
HDI                              0.916
TotalPopulation                 51.225
name                Korea, Republic of
alpha-2                             KR
alpha-3                            KOR
Name: 94, dtype: object
CountryName        Kuwait
HDI                 0.806
TotalPopulation     4.207
name               Kuwait
alpha-2                KW
alpha-3               KWT
Name: 95, dtype: object
CountryName        Lao People's Democratic Republic
HDI                                           0.613
TotalPopulation                               7.169
name               Lao People's Democratic Republic
alpha-2                                          LA
alpha-3                                         LAO
Name: 96, dtype: object

In [15]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import module to create relationship patterns
from sqlalchemy.orm import relationship

# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Table, Column, Integer, String, Float, BigInteger, ForeignKey

In [16]:
# Create classes:
# Countries & Earthquakes

class Countries(Base):  #Parent
    __tablename__ = 'countries'
    # id = Column(Integer, primary_key=True)
    CountryCode = Column(String(255), primary_key=True)
    CountryName = Column(String(255))
    Population = Column(Float)  # Millions
    HDIndex = Column(Float) # Index
    earthquake = relationship("Earthquakes")

class Earthquakes(Base):    #Child
    __tablename__ = 'earthquakes'
    # id = Column(Integer, primary_key=True)
    EarthquakeID = Column(String(255), primary_key=True)
    Latitude = Column(Float)
    Longitude = Column(Float)
    Depth = Column(Float)
    DateTime = Column(BigInteger)
    # CountryCode = Column(String(255))   # Foreign Key?
    country_id = Column(String(255), ForeignKey('countries.CountryCode'))
    # parent = relationship("Countries", back_populates="children")


# print(data_USGS["features"])

In [17]:
import reverse_geocoder as rg
from time import sleep
from tqdm.auto import tqdm

In [18]:
# Create Database Connection
# ---------------------------
# Establish Connection
engine = create_engine("sqlite:///project2.sqlite")
conn = engine.connect()

# Create Countries and Earthquakes tables within the database
Base.metadata.create_all(conn)

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [19]:
for index, country in tqdm(clean_HDRO_df.iterrows(), total=len(clean_HDRO_df)):
    # sleep(0.1)
    try:
        new_country = Countries(CountryCode=country["alpha-2"],CountryName=country["CountryName"],Population=country["TotalPopulation"],HDIndex=country["HDI"])
        session.add(new_country)
        session.commit()
    except:
        print(country["alpha-2"], country["CountryName"], country["TotalPopulation"], country["HDI"])

100%|██████████| 189/189 [00:22<00:00,  8.46it/s]

In [20]:
# i=1
# Create specific instances of the Countries and Earthquakes classes
for earthquake in tqdm(data_USGS["features"], total=len(data_USGS["features"])):
    # sleep(0.1)

    # if i<=10:
    # print(earthquake["id"], earthquake["geometry"]["coordinates"][0], earthquake["geometry"]["coordinates"][1], earthquake["geometry"]["coordinates"][2], earthquake["properties"]["time"])
    try:
        lon = earthquake["geometry"]["coordinates"][0]
        lat = earthquake["geometry"]["coordinates"][1]
        depth1 = earthquake["geometry"]["coordinates"][2]
        ctry_code = rg.search((lat,lon))[0]["cc"]
        new_earthquake = Earthquakes(EarthquakeID=earthquake["id"], Longitude=lon, Latitude=lat, Depth=depth1, DateTime=earthquake["properties"]["time"], country_id=ctry_code)

        # print(f"{i}, {earthquake['id']}, {lon}, {lat}, {depth1}, {earthquake['properties']['time']}, {ctry_code}")
        # Add new_earthquake to the current session
        session.add(new_earthquake)
        # Add new_country to the current session

        # Commit objects to the database
        session.commit()
        # print(i)
        # i = i+1
        # else:
        #     break
    except:
        print(f"{earthquake['id']}, {lon}, {lat}, {depth1}, {earthquake['properties']['time']}, {ctry_code}")


conn.close()
engine.dispose()


print("DATABASE COMPLETED")

# earthquake_list = session.query(Earthquakes)
# for earthquake in earthquake_list:
#     print(earthquake.Longitude)

  0%|          | 0/9052 [00:00<?, ?it/s]

Loading formatted geocoded file...

  1%|          | 85/9052 [02:44<3:36:48,  1.45s/it]

pr2022019002, -68.3258, 18.0678, 69, 1642561506380, US

  1%|          | 100/9052 [03:09<3:55:07,  1.58s/it]